*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

  /* Removes ::marker */

li {
  list-style-type: none;
}

html{
    font-size: 16px;
  }
  
  body {
    font-family: 'manrope';
    font-size: 16px;
    line-height: 1.5;
    color: #333;
  }
  
  /* Navbar */
  .navbar {
    background: #333;
    color: #fff;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .navbar ul {
    list-style: none;
    display: flex;
  }
  
  .navbar ul li {
    margin-left: 1rem;
  }
  
  .navbar a {
    color: #fff;
    text-decoration: none;
    font-size: 3vmin;
  }
  
  .navbar a:hover {
    color: rgb(255, 50, 50);
  }

    /* Main */

    main {
      background-color: #372A55;
      height: auto;
      min-height: 100vh;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-direction: row;
    }

    #container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 1rem;
      }
  
      #container h2 {
        color: white;
        font-size: 6vmin;
        padding: 1rem;
      }

      .grid-container {
        display: grid;
        grid-template-rows: repeat(4, 1fr); /* creates 3 equal-height rows */
        grid-template-columns: repeat(5, 1fr); /* creates 5 equal-width columns */
        width: 80vw;
        height: 70vh;
      }

      .grid-item {
        border: .1rem solid white;
        border-radius: .5rem;
        background-color: #627881;
        margin: .5rem;
      }

      .grid-item div {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-direction: column;
        height: 100%;
        color: white;
        font-size: 3vmin;
      }

      a {
        text-decoration: none;
        display: block;
        width: 100%;
        height: 100%;
      }

/* For screens smaller than 768px */
@media (max-width: 767px) {
  .grid-container {
    grid-template-columns: repeat(1, 1fr); /* Two equal-width columns */
    width: 90vw;
    height: auto;
  }
}

/* For screens between 768px and 1024px */
@media (min-width: 768px) and (max-width: 1024px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr); /* Three equal-width columns */
    width: 80vw;
    height: auto;
  }
}

/* For screens larger than 1024px */
@media (min-width: 1025px) {
  .grid-container {
    grid-template-columns: repeat(5, 1fr); /* Five equal-width columns */
    width: 80vw;
    height: 70vh;
  }
}